<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423441238430-to0d8dcmiokd6u1rkphim2s3v32dgkr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423441238430-to0d8dcmiokd6u1rkphim2s3v32dgkr8</string>
	<key>API_KEY</key>
	<string>AIzaSyCMqI5sooc_IE64tU4psnvVhilA6JDFYHE</string>
	<key>GCM_SENDER_ID</key>
	<string>423441238430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskPadi</string>
	<key>PROJECT_ID</key>
	<string>taskpadidb</string>
	<key>STORAGE_BUCKET</key>
	<string>taskpadidb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423441238430:ios:d1780028e3ff6732efee8f</string>
	<key>DATABASE_URL</key>
	<string>https://taskpadidb-default-rtdb.firebaseio.com</string>
</dict>
</plist>